[package]
name = "pmtiles"
version = "0.0.3"
edition = "2021"
authors = ["Luke Seelenbinder <luke.seelenbinder@stadiamaps.com>"]
license = "MIT OR Apache-2.0"
description = "Implementation of the PMTiles v3 spec with multiple sync and async backends. WORK IN PROGRESS."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# WIP: default features will be none, eventually
default = ["http-async"]
http-async = ["reqwest"]
mmap-async-tokio = ["fmmap", "fmmap/tokio-async"]

# TODO: support other async libraries

[dependencies]
# TODO: determine how we want to handle compression in async & sync environments
async-compression = { version = "0.3", features = ["gzip", "zstd", "brotli", "tokio"] }
async-recursion = "1"
async-trait = "0.1"
bytes = "1"
fmmap = { version = "0.3", default-features = false, optional = true }
hilbert_2d = "1"
reqwest = { version = "0.11", default-features = false, optional = true }
tokio = { version = "1", default-features = false, features = ["io-util"] }
varint-rs = "2"

[dev-dependencies]
fmmap = { version = "0.3", features = ["tokio-async"] }
reqwest = { version = "0.11", features = ["rustls-tls-webpki-roots"] }
tokio = { version = "1", features = ["test-util", "macros", "rt"] }
